.sidebar{
    width:260px;
    flex-shrink:0;
    background:#0F172A;
    color:white;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    padding:25px;
    
}


.logo h2{
    font-size:32px;
    color:#3B82F6;
}

.logo p{
    color:#94A3B8;
    margin-top:8px;
}

.menu{
    margin-top:40px;
    flex:1;
}

.logout{
    margin-top:auto;
}


.menu-item{
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px;
    margin-bottom:12px;
    border-radius:15px;
    cursor:pointer;
    transition:0.3s;
}

.menu-item:hover{
    background:#1E293B;
}

.active{
    background:#2563EB;
}

.logout{
    display:flex;
    align-items:center;
    gap:15px;
    cursor:pointer;
    padding:15px;
    border-radius:15px;
}

.logout:hover{
    background:#1E293B;
}