.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.navbar p{
    color:#64748B;
}

.profile-section{
    display:flex;
    align-items:center;
    gap:25px;
}

.bell{
    font-size:22px;
    cursor:pointer;
}

.profile{
    display:flex;
    gap:15px;
    align-items:center;
}

.profile img{
    border-radius:50%;
}